<%= form_for(:date, :url => pairs_generate_pairs_path, params: { date: :date }, method: :post) do |f| %>
  <%= render 'shared/validation_errors' %>
  <div class="row">
    <div class="col-xs-3 form-group">
      <%= f.date_select :date, class: "form-control"%>
    </div>
    <div class="form-group">
      <%= f.submit "Create pairs", class: "btn btn-primary"%>
    </div>
  </div>
<% end %>
