<h4>Logged in as: <%= current_user.full_name %> <%= current_user.admin ? "(Admin)" : "(Student)" %></h4>
<h3>These are the current pairs</h3>

<% if @pairs.any? %>
  <ul>
  <% for pair in @pairs %>
    <li><%= pair.students[0].full_name %> <-> <%= pair.students[1].full_name %></li>
  <% end %>
  </ul>
<% end %>
