<div class="container">
  <div class="row">
    <h3>Current list of users:</h3>
    <ul class="list-group">
      <% @users.each do |user| %>
        <li>
          <div class="col-xs-6 font-weight-bold">
            <%= user.full_name %>
          </div>
          <div class="col-xs-4">
            <%= user.email %></p>
          </div>
          <div class="col-xs-2">
            <button class="btn btn-xs btn-grey pull-right">
              <%= user.admin %>
            </button>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
